:root {
  --shadow: -3px 3px 6px #00000021;
}
body {
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: system-ui;
}

* {
  box-sizing: border-box;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background: linear-gradient(#05f3b4, #07e56b);
  padding: 8px;
  transition: all ease 0.5s;

  .cardinner {
    transition: all ease 2s;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffffffbd, #ffffff3b);
    border-radius: 32px 240px 32px 32px;
    outline: 2px solid #ffffffc4;
    padding: 25px;

    .circle5 {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background: #ffffff28;
      position: absolute;
      top: 0;
      right: 0;
      transition: all ease-in-out 0.4s;
    }

    .cc {
      box-shadow: var(--shadow);
    }

    .circle4 {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background: #4dc5993d;
      position: absolute;
      top: 4px;
      right: 4px;
      transition: all ease-in-out 0.8s;
    }

    .circle3 {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #4dc5993d;
      position: absolute;
      top: 8px;
      right: 8px;
      transition: all ease-in-out 1.2s;
    }

    .circle2 {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #4dc5993d;
      position: absolute;
      top: 12px;
      right: 12px;
      transition: all ease-in-out 1.6s;
    }

    .circle1 {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #43e4a9ec;
      position: absolute;
      top: 16px;
      right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: 900;
      color: #fff;
      letter-spacing: 0.1em;
      transition: all ease-in-out 2s;

      .txt {
        border-bottom: 4px solid #fff;
        transform: translate(1px, -2px);
      }
    }

    .cardtxt {
      position: absolute;
      bottom: 25px;
    }

    .txt1 {
      color: #00894d;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
    }
    .txt2 {
      color: #4dc599;
      text-transform: capitalize;
      width: 80%;
      margin: 24px 0;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
    }
    .icon:nth-child(1) {
      transition: all ease 0.3s;
    }

    .icon:nth-child(2) {
      transition: all ease-in 0.3s;
    }

    .icon:nth-child(3) {
      transition: all ease-out 0.3s;
    }
    .iconinner {
      font-size: 12px;
      color: #00894d;
    }
    .txt3 {
      margin-right: 25px;
      color: #06c57e;
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.card:hover {
  box-shadow: -4px 4px 6px #0000002f;
  cursor: pointer;
  transform: rotateX(20deg) rotateY(15deg);
  .cardinner {
    box-shadow: -15px 15px 15px #00000025;
    transform: translate(15px, -15px);

    .icon {
      box-shadow: -15px 15px 15px #0000002f;
      transform: translate(15px, -15px);
    }

    .cc {
      box-shadow: -15px 15px 8px #00000018;
    }

    .circle5 {
      transform: translate(10px, -10px);
    }

    .circle4 {
      transform: translate(15px, -15px);
    }

    .circle3 {
      transform: translate(20px, -20px);
    }

    .circle2 {
      transform: translate(25px, -25px);
    }

    .circle1 {
      transform: translate(30px, -30px);
    }
  }
}
